* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;

}

img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 2px solid black;
}