:root {
  --primary: #fffffe;
  --secondary: #0f0e17;
  --tertiary: #a7a9be;
  --hover: #ff8906;
  --font-primary: "Poppins", sans-serif;
  --font-secondary: "Bebas Neue", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-secondary);
  color: var(--primary);
}

a {
  text-decoration: none;
  color: var(--primary);
}

a:hover {
  color: var(--hover);
}

ul {
  list-style: none;
}

h1 {
  font-size: 60px;
  letter-spacing: 10px;
}

body {
  background-color: var(--secondary);
  color: var(--tertiary);
  font-family: var(--font-primary);
}

header {
  height: 140px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
  border: 1px solid var(--tertiary)
}

header ul {
  display: flex;
  gap: 20px;
}

h2{
  text-align: center;
  padding: 20px;
}

#videojuegos img, #cine img, #lectura img{
  width: 250px;
  height: 320px;
  object-fit: cover;
}

#videojuegos, #cine, #lectura{
  display:grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  padding: 20px;
  gap: 20px;
}

footer{
  padding: 40px;
  text-align: center;
}