@font-face {
  font-family: "Bergdool";
  src: url(./fonts/Bergdool.ttf);
}


body {
  font-family: "Courier New", Courier, monospace;
}

h1 {
  font-size: 10px;
  font-family: "Bergdool";
}

p {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
 
}
